In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
df_musica = pd.read_csv('listas_musica.csv')

In [3]:
df_musica.fillna(0, inplace=True)

In [4]:
df_musica.tail(8)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
330079,1958-08-04,93,Are You Really Mine,Jimmie Rodgers,0.0,93,1
330080,1958-08-04,94,She Was Only Seventeen (He Was One Year More),Marty Robbins,0.0,94,1
330081,1958-08-04,95,Little Mary,Fats Domino,0.0,95,1
330082,1958-08-04,96,Over And Over,Thurston Harris,0.0,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,0.0,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,0.0,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0.0,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,0.0,100,1

### TOP 30 CANCIONES

In [6]:
top_30 = df_musica['artist'].value_counts().head(30)
print(top_30)

artist
Taylor Swift             1023
Elton John                889
Madonna                   857
Drake                     787
Kenny Chesney             769
Tim McGraw                731
Keith Urban               673
Stevie Wonder             659
Rod Stewart               657
Mariah Carey              621
Michael Jackson           611
Chicago                   607
Rascal Flatts             604
Billy Joel                588
The Beatles               585
The Rolling Stones        585
Jason Aldean              572
Aretha Franklin           569
Rihanna                   566
P!nk                      564
Whitney Houston           561
Brad Paisley              559
George Strait             553
Neil Diamond              553
Luke Bryan                543
Carrie Underwood          541
Daryl Hall John Oates     540
The Beach Boys            531
Toby Keith                526
Bee Gees                  516
Name: count, dtype: int64

### TOP 15 CANCIONES Y ARTISTAS

In [8]:
top_15_songs = df_musica[['song', 'artist']].head(15)
print("\nTop 15 canciones y artistas:")
print(top_15_songs)

Top 15 canciones y artistas:
                       song                                 artist
0                Easy On Me                                  Adele
1                      Stay          The Kid LAROI & Justin Bieber
2             Industry Baby                Lil Nas X & Jack Harlow
3                Fancy Like                           Walker Hayes
4                Bad Habits                             Ed Sheeran
5                Way 2 Sexy    Drake Featuring Future & Young Thug
6                   Shivers                             Ed Sheeran
7                  Good 4 U                         Olivia Rodrigo
8              Need To Know                               Doja Cat
9                Levitating                               Dua Lipa
10                  Essence  Wizkid Featuring Justin Bieber & Tems
11             Kiss Me More                 Doja Cat Featuring SZA
12               Heat Waves                          Glass Animals
13                  Beggin'                               Maneskin
14  Cold Heart (PNAU Remix)                  Elton John & Dua Lipa

### TOP 10 ARTISTAS, CANCIÓN Y POSICIÓN

In [12]:
top_artistas = df_musica['artist'].value_counts().head(10).index
df_top_artistas = df_musica[df_musica['artist'].isin(top_artistas)]
resultados_top = (
    df_top_artistas.loc[df_top_artistas.groupby('artist')['rank'].idxmin()]
    [['artist', 'song', 'peak-rank']]
)

print("Top 10 artistas, canción y posición:")
print(resultados_top)

Top 10 artistas, canción y posición:
               artist                                               song  \
3300            Drake                                        What's Next
124300     Elton John  Candle In The Wind 1997/Something About The Wa...
64715     Keith Urban                                        Kiss A Girl
64615   Kenny Chesney                                     Out Last Night
110000        Madonna                                              Music
4400     Mariah Carey                    All I Want For Christmas Is You
222700    Rod Stewart                              Da Ya Think I'm Sexy?
187900  Stevie Wonder                                    Part-Time Lover
4500     Taylor Swift                                             Willow
117509     Tim McGraw                                 Please Remember Me

        peak-rank
3300            1
124300          1
64715          16
64615          16
110000          1
4400            1
222700          1
187900          1
4500            1
117509         10

### ARTISTAS MÁS REPRODUCIDOS POR SEMANAS

In [13]:
df_musica['date'] = pd.to_datetime(df_musica['date'])
df_musica.set_index('date', inplace=True)
print(df_musica)

            rank                                 song  \
date
2021-11-06     1                           Easy On Me
2021-11-06     2                                 Stay
2021-11-06     3                        Industry Baby
2021-11-06     4                           Fancy Like
2021-11-06     5                           Bad Habits
...          ...                                  ...
1958-08-04    96                        Over And Over
1958-08-04    97                     I Believe In You
1958-08-04    98                      Little Serenade
1958-08-04    99  I'll Get By (As Long As I Have You)
1958-08-04   100                                 Judy

                                   artist  last-week  peak-rank  \
date
2021-11-06                          Adele        1.0          1
2021-11-06  The Kid LAROI & Justin Bieber        2.0          1
2021-11-06        Lil Nas X & Jack Harlow        3.0          1
2021-11-06                   Walker Hayes        4.0          3
2021-11-06                     Ed Sheeran        5.0          2
...                                   ...        ...        ...
1958-08-04                Thurston Harris        0.0         96
1958-08-04                Robert & Johnny        0.0         97
1958-08-04              The Ames Brothers        0.0         98
1958-08-04                 Billy Williams        0.0         99
1958-08-04                Frankie Vaughan        0.0        100

            weeks-on-board
date
2021-11-06               3
2021-11-06              16
2021-11-06              14
2021-11-06              19
2021-11-06              18
...                    ...
1958-08-04               1
1958-08-04               1
1958-08-04               1
1958-08-04               1
1958-08-04               1

[330087 rows x 6 columns]

### ARTISTAS MÁS Y MENOS ESCUCHADOS