In [10]:
!pip install --upgrade nbformat
!pip install plotly
!pip install streamlit

import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsClassifier
import warnings
import seaborn as sns

Requirement already satisfied: nbformat in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from nbformat) (2.20.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from nbformat) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\migue\appdata\roaming\python\python310\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\migue\appdata\roaming\python\python310\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat) (0.20.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.6)
Requirement already satisfied: pywin32>=300 in c:\users\migue\appdata\roaming\python\python310\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (308)

[notice] A new release of pip is available: 24.2 -> 24.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: plotly in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from plotly) (24.1)

[notice] A new release of pip is available: 24.2 -> 24.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: streamlit in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (1.39.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (5.4.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (1.8.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (2.1.2)
Requirement already satisfied: packaging<25,>=20 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (24.1)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (2.2.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (5.28.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (17.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (13.9.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\migue\appdata\roaming\python\python310\site-packages (from streamlit) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\migue\appdata\roaming\python\python310\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog<6,>=2.1.5 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from streamlit) (5.0.3)
Requirement already satisfied: jinja2 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.5.2 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from altair<6,>=4.0->streamlit) (1.10.0)
Requirement already satisfied: colorama in c:\users\migue\appdata\roaming\python\python310\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27->streamlit) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.8.30)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\migue\appdata\roaming\python\python310\site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.20.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\users\migue\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
titanic = r"C:\Users\migue\OneDrive\Documents\Isabella\Proyecto_MOD1\titanic.csv"
df_titanic = pd.read_csv(titanic)

In [3]:
df_titanic.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [4]:
df_titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df_titanic.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Dooley, Mr. Patrick",male,NaN,NaN,NaN,347082,NaN,G6,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [7]:
df_titanic.shape

(891, 12)

In [12]:
df_titanic.isnull().mean() *100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

# Preparaci√≥n del dataset de Titanic

In [6]:
df = pd.read_csv('titanic.csv')
df['Age'].fillna(df['Age'].median(), inplace=True)
df.dropna(subset=['Embarked'], inplace=True)
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})
df['Embarked'] = df['Embarked'].map({'C': 0, 'Q': 1, 'S': 2})

C:\Users\migue\AppData\Local\Temp\ipykernel_5756\1278425037.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [7]:
features = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
labels = df['Survived']

In [23]:
df_titanic.drop(columns=['Cabin'], inplace=True)

In [12]:
df_titanic = pd.read_csv(r"C:\Users\migue\OneDrive\Documents\Isabella\Proyecto_MOD1\titanic.csv")
df_encoded = df_titanic.copy()

In [13]:
categorical_cols = df_encoded.select_dtypes(include=object).columns

In [14]:
categorical_cols

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [15]:
for col in categorical_cols:
    df_encoded[col] = LabelEncoder().fit_transform(df_encoded[col].astype(str))

In [24]:
df_encoded.head(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,108,1,22.0,1,0,523,7.2500,147,2
1,2,1,1,190,0,38.0,1,0,596,71.2833,81,0
2,3,1,3,353,0,26.0,0,0,669,7.9250,147,2
3,4,1,1,272,0,35.0,1,0,49,53.1000,55,2
4,5,0,3,15,1,35.0,0,0,472,8.0500,147,2
5,6,0,3,554,1,NaN,0,0,275,8.4583,147,1
6,7,0,1,515,1,54.0,0,0,85,51.8625,129,2
7,8,0,3,624,1,2.0,3,1,395,21.0750,147,2

In [38]:
df_con_nulos = df_encoded.copy()
df_sin_nulos = df_encoded.copy()
df_sin_nulos = df_sin_nulos.dropna()

In [39]:
df_sin_nulos.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [9]:
def knn_impute(df):

    imputer = KNNImputer(n_neighbors=5)
    return pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

In [11]:
def k_fold_knn():
    k_range = range(1, 21)  # K values from 1 to 21
    mse_results = []
    rmse_results = []
    
    # K-fold Cross-validation setup
    kf = KFold(n_splits=5, shuffle=True, random_state=42)
    
    for k in k_range:
        mse_fold = []
        for train_index, test_index in kf.split(features):
            X_train, X_test = features.iloc[train_index], features.iloc[test_index]
            y_train, y_test = labels.iloc[train_index], labels.iloc[test_index]
            
            # Impute missing values
            X_train_imputed = knn_impute(X_train)
            X_test_imputed = knn_impute(X_test)
            
            # Train KNN model
            model = KNeighborsClassifier(n_neighbors=k)
            model.fit(X_train_imputed, y_train)
            y_pred = model.predict(X_test_imputed)
            
            # Calculate MSE and RMSE
            mse = mean_squared_error(y_test, y_pred)
            mse_fold.append(mse)
        
        mse_results.append(np.mean(mse_fold))
        rmse_results.append(np.sqrt(np.mean(mse_fold)))

    best_k = k_range[np.argmin(mse_results)]
    best_mse = mse_results[np.argmin(mse_results)]
    best_rmse = np.sqrt(best_mse)
    return k_range, mse_results, rmse_results, best_k, best_mse, best_rmse

In [12]:
# Function to display predictive model creation
def show_predictive_model_creation():
    st.subheader('Predictive Model Creation with KNN Imputation')
    st.write("""
    At the pre-processing part before building the predictive model, we compute these steps:
    - Filling Missing Age Values: 
    We replace missing values in the `Age` column with the median age of all passengers. The median is used to reduce the impact of outliers and to provide a better representation of the central tendency.

    - Dropping Rows with Missing Embarked Values: 
    We remove any rows where the `Embarked` column has missing values. This variable is crucial for our analysis, and retaining incomplete records would hinder our predictive modeling. We also notice there is less than %1 of missing values.

    - Encoding the Sex Variable: 
    The `Sex` variable is converted into a numerical format, with males mapped to `0` and females to `1`. This encoding allows us to use `Sex` as a predictor variable in machine learning models.

    - Omission of the Ticket Variable: 
    Regarding the presence of missing values in the `Cabin` variable, we have decided to omit it as a predictor variable.
    Due to the complexity of 'Ticket' varibale, we have decided to omit it as a predictor variable. This helps and ensures the integrity of the model.
    """)

    k_range, mse_results, rmse_results, best_k, best_mse, best_rmse = k_fold_knn()
    
    st.subheader('Best neighbour number on KNN')
    st.write(f"Best K: {best_k}")
    st.write(f"Best MSE: {best_mse:.4f}")
    st.write(f"Best RMSE: {best_rmse:.4f}")

    # Plotting the results
    plt.figure(figsize=(10, 6))
    plt.plot(k_range, mse_results, marker='o', label='MSE', color='blue')
    plt.plot(k_range, rmse_results, marker='o', label='RMSE', color='orange')
    plt.title('MSE and RMSE vs K Value')
    plt.xlabel('K Value (Number of Neighbors)')
    plt.ylabel('Error')
    plt.xticks(k_range)
    plt.legend()
    plt.grid()
    st.pyplot(plt)

In [13]:
# Function to display variable explanations
def show_variable_explanations():
    st.subheader('Variable Explanations')
    variable_info = {
        'PassengerId': 'A unique identifier for each passenger.',
        'Survived': 'Indicates whether a passenger survived (1) or did not survive (0).',
        'Pclass': 'Passenger class: 1 = First class, 2 = Second class, 3 = Third class.',
        'Name': 'Full name of the passenger.',
        'Sex': 'Gender of the passenger (male or female).',
        'Age': 'Age of the passenger in years.',
        'SibSp': 'Number of siblings or spouses aboard.',
        'Parch': 'Number of parents or children aboard.',
        'Ticket': 'Ticket number of the passenger.',
        'Fare': 'Amount paid for the ticket.',
        'Cabin': 'Cabin number where the passenger stayed.',
        'Embarked': 'Port of embarkation: C = Cherbourg, Q = Queenstown, S = Southampton.'
    }
    for variable, description in variable_info.items():
        st.write(f"**{variable}:** {description}")

In [16]:
def show_distributions():
    st.subheader('Distributions of Key Variables')

    # List of variables to visualize
    variables = ['Age', 'Fare', 'SibSp', 'Parch', 'Pclass']

    for var in variables:
        # Histogram with KDE
        plt.figure(figsize=(10, 5))
        sns.histplot(df[var].dropna(), bins=30, kde=True)
        plt.title(f'{var} Distribution of Passengers')
        plt.xlabel(var)
        plt.ylabel('Frequency')
        st.pyplot(plt)

        # Boxplot for outliers
        plt.figure(figsize=(10, 5))
        sns.boxplot(x=df[var])
        plt.title(f'{var} Boxplot')
        plt.xlabel(var)
        st.pyplot(plt)

 # Additional variable for categorical data
    plt.figure(figsize=(10, 5))
    sns.countplot(x='Pclass', data=df)
    plt.title('Passenger Class Distribution')
    plt.xlabel('Passenger Class')
    plt.ylabel('Count')
    st.pyplot(plt)

    # Distribution of Sex
    plt.figure(figsize=(10, 5))
    sns.countplot(x='Sex', data=df)
    plt.title('Gender Distribution of Passengers')
    plt.xlabel('Sex')
    plt.ylabel('Count')
    st.pyplot(plt)

# Distribution of Survival
    plt.figure(figsize=(10, 5))
    sns.countplot(x='Survived', data=df)
    plt.title('Survival Distribution')
    plt.xlabel('Survived')
    plt.ylabel('Count')
    st.pyplot(plt)

In [17]:
# Function to display missing values
def show_missing_values():
    st.subheader('Missing Values in the Dataset')
    df = pd.read_csv('titanic.csv')
    # Calculate the total number of entries
    total_entries = df.shape[0]
    
    # Calculate missing values and the percentage of missing values
    missing_values = df.isnull().sum()
    missing_percentage = (missing_values / total_entries) * 100
    
    # Create a DataFrame for better display
    missing_data = pd.DataFrame({
        'Missing Count': missing_values,
        'Missing Percentage': missing_percentage
    })
    
    
    # Reset index for better presentation
    missing_data.reset_index(inplace=True)
    missing_data.rename(columns={'index': 'Column'}, inplace=True)
    
    # Display the DataFrame
    st.write(missing_data)

In [18]:
# Function to display correlation matrix
def show_correlation_matrix():
    st.subheader('Correlation Matrix')

    correlation_matrix = df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']].corr()

    # Create a heatmap for the correlation matrix
    plt.figure(figsize=(10, 6))
    sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5, cbar=True, square=True)
    plt.title('Correlation Matrix Heatmap')
    st.pyplot(plt)

In [19]:
# Function to predict survival
def predict_survival():
    st.subheader('Predict Survival using KNN')
    
    # Determine the best k from K-fold cross-validation
    _, _, _, best_k, _, _ = k_fold_knn()
    
    # Input fields for user data
    pclass = st.selectbox('Passenger Class', (1, 2, 3))
    sex = st.selectbox('Sex', ('male', 'female'))
    age = st.number_input('Age', min_value=0, max_value=120, value=30)
    sibsp = st.number_input('Number of Siblings/Spouses Aboard', min_value=0, value=0)
    parch = st.number_input('Number of Parents/Children Aboard', min_value=0, value=0)
    fare = st.number_input('Fare', min_value=0.0, value=50.0)

    # Map the sex input to numerical
    sex_encoded = 0 if sex == 'male' else 1
    
    # Create DataFrame for prediction
    input_data = pd.DataFrame({
        'Pclass': [pclass],
        'Sex': [sex_encoded],
        'Age': [age],
        'SibSp': [sibsp],
        'Parch': [parch],
        'Fare': [fare]
    })

    # Impute missing values for input data
    input_data_imputed = knn_impute(input_data)

    # Predict survival using KNN with the best k
    if st.button('Predict'):
        model = KNeighborsClassifier(n_neighbors=best_k)
        # Combine original features and labels to retrain the model
        model.fit(features, labels)
        prediction = model.predict(input_data_imputed)
        st.write(f"Predicted Survival: {'Survived' if prediction[0] == 1 else 'Not Survived'}")

In [20]:
def show_survival_by_class():
    st.subheader('Percentage of Survivors by Class')

    # Calcular el porcentaje de supervivencia por clase
    survival_counts = df.groupby('Pclass')['Survived'].value_counts(normalize=True).unstack().fillna(0)

    plt.figure(figsize=(8, 8))
    for pclass in survival_counts.index:
        plt.subplot(3,1, pclass)
        survival_counts.loc[pclass].plot.pie(autopct='%1.1f%%', startangle=90, colors=['#4CAF50', '#FFC107'], labels=['No Survived', 'Survived'])
        plt.title(f'{pclass} Class')
        plt.ylabel('')

    plt.tight_layout()
    st.pyplot(plt)

In [21]:
st.title('Titanic Data Analysis Dashboard')

st.sidebar.title('Navigation')
option = st.sidebar.radio("Select an option:", 
                           ('Variable Explanations', 
                            'Distributions', 
                            'Missing Values', 
                            'Correlation Matrix', 
                            'Predict Survival', 
                            'Predictive Model Creation',
                            'Research Questions'))

2024-10-27 16:25:28.413 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:25:29.047
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\migue\AppData\Roaming\Python\Python310\site-packages\ipykernel_launcher.py [ARGUMENTS]
2024-10-27 16:25:29.056 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:25:29.057 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:25:29.058 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:25:29.058 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:25:29.060 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:25:29.060 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:25:29.064 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:25:29.064 Session state does not function when running a script without `streamlit run`
2024-10-27 16:25:29.064 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:25:29.067 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [22]:
# Show the selected section
if option == 'Variable Explanations':
    show_variable_explanations()
elif option == 'Distributions':
    show_distributions()
elif option == 'Missing Values':
    show_missing_values()
elif option == 'Correlation Matrix':
    show_correlation_matrix()
elif option == 'Predict Survival':
    predict_survival()
elif option == 'Predictive Model Creation':
    show_predictive_model_creation()
elif option == 'Research Questions':
    show_survival_by_class()

# Run the Streamlit app
if __name__ == '__main__':
    st.write("")

2024-10-27 16:26:00.938 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.940 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.940 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.940 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.944 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.945 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.948 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.949 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.950 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.952 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.953 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.955 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.956 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.957 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.957 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.958 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.960 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.960 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.961 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.962 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.963 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.966 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.968 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.969 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.971 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.973 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.975 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.976 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.977 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.978 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.980 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.981 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.982 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.984 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.986 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.987 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.989 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.990 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.992 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.992 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.994 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.995 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.996 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:00.997 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:01.000 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:01.001 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:01.002 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:01.004 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:01.005 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:01.006 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:01.009 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:01.011 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:01.012 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-27 16:26:01.015 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.